#Header{
    margin: 20px 0 50px 0;
    height: 40px;
    .nav{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
    }
    .HeaderNav{
        display: flex;
        list-style: none;
        justify-content: flex-end;        
        align-items: center;
        margin: 0;
        li{
            padding: 0 15px;
            a{
                color: #8B8B8B;
                font-size: 16px;
                font-weight: 600;
                line-height: 22px;
                letter-spacing: 0em;  
                text-decoration: none; 
                cursor: pointer;            
            }
            .active{
                color: #3D3D3D!important;
            }            
            a:hover{
                color: #3D3D3D;
            }
        }
    }
    .logo{
        font-size: 24px;
        font-weight: 700;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: left;
        margin: 0;
        height: 100%;        
    }
    .nav{
        img{
            display: none;
        }
    }
    @media (max-width: 576px) { 
        .nav{
            display: flex;
            justify-content: flex-end;
            img{
                display: block;
                text-align: right;
            }
            .HeaderNav{
                display: none;
            }
        }
     }
}